* {
    margin: 0px;
    padding: 0px;
}

h5 {
    text-align: center;
}

body {
    background-color: #CED8E1;
}

#nav {
    background-color: rgb(16, 43, 62);
    padding-left: 20px;
}

#pru a {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
    line-height: 80px;
}

#pru a:hover {
    background: #9DA7AF;
}

#inicio {
    margin-top: 25%;
    margin-bottom: 25%;
    cursor: pointer;
}

#fon {
    box-shadow: -900px 300px 0px 2000px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.dropdown-item:hover {
    cursor: pointer;
    background: #9DA7AF;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.colo1 {
    width: 95px;
    height: 67px;
    background-color: rgb(59, 83, 105);
    display: block;
    padding: 10px;
    margin: 0 15px 0 0;
    float: left;
    text-align: center;
    border-radius: 0px 0px 15px 0px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(59, 83, 105);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #9da7af;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(112, 112, 112);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(112, 112, 112);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    END NAVBAR
----------------------------------------------------- */

#card {
    color: #fff;
    font-family: Arial Rounded MT;
    background-image: linear-gradient(rgb(16, 24, 51), rgb(0, 81, 125));
    box-shadow: 15px 15px 5px #000000da;
    border-radius: 45px;
}

#imgr {
    width: 40%;
    margin-left: 30%;
}

#but {
    width: 50%;
    background-color: #CED8E1;
    border: none;
    color: rgb(16, 24, 51);
    padding: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 10px 30px 0 black;
    border-radius: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10rem;
    font-family: Arial Rounded MT;
    font-size: 2vw;
}

#but:hover {
    background-color: #9DA7AF;
    border-radius: 10rem;
}

#let input {
    background: #CED8E1;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 0px #000000;
}

#let select {
    background: #CED8E1;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 0px #000000;
}

#let2 input {
    background: #CED8E1;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 5px 5px 3px 0px #000000;
}

#barra {
    margin-top: -20px;
}

#color {
    color: #ffffff;
    font-size: medium;
    font-family: Arial Rounded MT;
}

#cont {
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
    background: #3B5369;
    width: 96%;
    padding-left: 15px;
    padding-bottom: 40px;
}

#cap {
    border-radius: 20%;
    background: #042333;
    color: #fff;
    margin: 5%;
}

#img {
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}

#buttonn {
    border-radius: 10px;
    color: #000000;
    font-family: Arial;
    background-color: #CED8E1;
    float: right;
    width: 100%;
}

#lo {
    float: left;
    text-align: center;
}

#buttons {
    border-radius: 10px;
    color: #000000;
    font-family: Arial;
    background-color: #CED8E1;
    float: right;
    margin-right: 20px;
}

#mensa {
    margin-top: 25%;
}

#color111 {
    background: rgb(231, 231, 231);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#mensajes {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mensajes1 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#porfile {
    width: 100%;
    border-radius: 100%;
}