* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #CED8E1;
}

#nav {
    background-color: rgb(16, 43, 62);
    padding-left: 20px;
}

#pru a {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
    line-height: 80px;
}

#pru a:hover {
    background: #9DA7AF;
}

#inicio {
    margin-top: 25%;
    border-radius: 50px;
    cursor: pointer;
    background: #000018;
}

#fon {
    box-shadow: -900px 300px 0px 2000px rgba(0, 0, 0, 0.6);
    margin-top: 25%;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.colo1 {
    width: 95px;
    height: 67px;
    background-color: rgb(59, 83, 105);
    display: block;
    padding: 10px;
    margin: 0 15px 0 0;
    float: left;
    text-align: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(59, 83, 105);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #9da7af;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(112, 112, 112);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(112, 112, 112);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    END NAVBAR
----------------------------------------------------- */

#card {
    color: #fff;
    font-family: Arial Rounded MT;
    background-image: linear-gradient(rgb(16, 24, 51), rgb(0, 81, 125));
    box-shadow: 15px 15px 5px #000000da;
    border-radius: 45px;
}

#but {
    background-color: #CED8E1;
    border: none;
    color: rgb(16, 24, 51);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 black;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10rem;
    font-family: Arial Rounded MT;
}

#but:hover {
    background-color: #9DA7AF;
    border-radius: 10rem;
}

#let input {
    background: #CED8E1;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 0px #000000;
}

#let select {
    background: #CED8E1;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 0px #000000;
}