* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #CED8E1;
}

#imgr {
    padding-top: 30px;
}

#but {
    background-color: #CED8E1;
    border: none;
    color: rgb(16, 24, 51);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 black;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10rem;
    font-family: Arial Rounded MT;
}

#but:hover {
    background-color: #9DA7AF;
    border-radius: 10rem;
}

#card {
    font-family: Arial Rounded MT;
    background-image: linear-gradient(rgb(16, 24, 51), rgb(0, 81, 125));
    box-shadow: 15px 15px 5px #000000da;
    border-radius: 45px;
}

#let {
    color: #ffffff;
}

p {
    color: black;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    color: white;
}

#nav {
    background-color: rgb(16, 43, 62);
    padding-left: 20px;
}

#nabo {
    height: 100%;
    padding: 3%;
}

#nabot {
    height: 100%;
    padding: 4.4%;
}

#pru a {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
    line-height: 80px;
}

#pru a:hover {
    background: #9DA7AF;
}

#texma {
    margin: 5px;
    font-size: xx-small;
}

#inicio {
    margin-top: 50%;
    border-radius: 50px;
    cursor: pointer;
    background: #000018;
}

#fon {
    box-shadow: -900px 300px 0px 2000px rgba(0, 0, 0, 0.6);
    margin-top: 25%;
}

.dropdown-item:hover {
    cursor: pointer;
    background: #9DA7AF;
}

#hero {
    background: #CED8E1;
    padding-top: 60px;
    min-height: 90px;
    color: black;
}

#texto {
    text-align: center;
    width: 100%;
    padding-bottom: 70px;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

#reg {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
    padding: 15px 80px;
    min-width: 160px;
    border-radius: 46px;
    display: inline-block;
    background: #102B3E;
    color: white;
}

#reg:hover {
    background: #9DA7AF;
}

#cuadro {
    padding: 15px;
}

#momo {
    background: #102B3E;
    padding: 50px;
    padding-left: 50px;
    border-radius: 65px;
    text-align: center;
}

#bot {
    width: 100%;
    background: #9DA7AF;
    padding: 15%;
    border-radius: 58px;
}

#bot:hover {
    background: #CED8E1;
}

#moda {
    padding: 20px;
    background: linear-gradient(180deg, rgba(17, 22, 49, 1) 0%, rgba(15, 28, 56, 1) 35%, rgba(0, 84, 129, 1) 100%);
    box-shadow: 8px 8px 15px;
    color: black;
    border-radius: 50px;
}

#letra {
    text-align: center;
    color: white;
}

#gato {
    color: black;
    box-shadow: 8px 8px 15px;
}

#caja {
    color: black;
    background: #102B3E;
    background-size: cover;
    min-height: 350px;
    padding-top: 50px;
}

.content-all {
    /*Todo el contenedor*/
    background: #102B3E;
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 30px;
}

.content-carrousel {
    /*Contenedor de las imagenes*/
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    /*Aqui se controla la velocidad de rotacion */
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}


/*Esto quiere decir que yo estoy seleccionando la imagen numero1*/

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

footer {
    background: #9b9b9b;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#copy {
    color: #ffffff;
    background: #0f2a3d;
}

#cop {
    color: #ffffff;
    background: #3a5268;
}

#redes {
    float: left;
    text-align: left;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.colo1 {
    width: 95px;
    height: 67px;
    background-color: rgb(59, 83, 105);
    display: block;
    padding: 10px;
    margin: 0 15px 0 0;
    float: left;
    text-align: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(59, 83, 105);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #9da7af;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(112, 112, 112);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(112, 112, 112);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}